/*
	A Few links to learn how to use flexbox

	https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	http://www.sketchingwithcss.com/samplechapter/cheatsheet.html
	http://flexboxfroggy.com/
*/
@import "../variables";
@import "flexbox-mixins";

.#{$utilityPrefix}-vbox,
.#{$utilityPrefix}-flexbox-column,
.#{$utilityPrefix}-hbox,
.#{$utilityPrefix}-flexbox-row {
  @include flexbox();
  @include flex-direction(row);
  @include align-items(flex-start);
  @include justify-content(flex-start);

  .#{$utilityPrefix}-inline {
    @include flexbox-inline();
  }
}

.#{$utilityPrefix}-hbox,
.#{$utilityPrefix}-flexbox-row {
  @include flex-direction(row);
  &.#{$utilityPrefix}-vcenter,
  &.#{$utilityPrefix}-align-items-center {
    @include align-items(center);
  }
  &.#{$utilityPrefix}-hcenter,
  &.#{$utilityPrefix}-justify-content-center {
    @include justify-content(center);
  }
  &.#{$utilityPrefix}-vhcenter,
  &.#{$utilityPrefix}-align-and-justify-center {
    @include align-items(center);
    @include justify-content(center);
  }
  &.#{$utilityPrefix}-vtop,
  &.#{$utilityPrefix}-align-items-start {
    @include align-items(flex-start);
  }
  &.#{$utilityPrefix}-vbottom,
  &.#{$utilityPrefix}-align-items-end {
    @include align-items(flex-end);
  }
  &.#{$utilityPrefix}-vfit,
  &.#{$utilityPrefix}-align-items-stretch {
    @include align-items(stretch);
  }
  &.#{$utilityPrefix}-hspacebetween,
  &.#{$utilityPrefix}-justify-content-space-between {
    @include justify-content(space-between);
  }
  &.#{$utilityPrefix}-hleft,
  &.#{$utilityPrefix}-justify-content-start {
    @include justify-content(flex-start);
  }
  &.#{$utilityPrefix}-hright,
  &.#{$utilityPrefix}-justify-content-end {
    @include justify-content(flex-end);
  }
}

.#{$utilityPrefix}-vbox,
.#{$utilityPrefix}-flexbox-column {
  @include flex-direction(column);
  &.#{$utilityPrefix}-vcenter,
  &.#{$utilityPrefix}-justify-content-center {
    @include justify-content(center);
  }
  &.#{$utilityPrefix}-hcenter,
  &.#{$utilityPrefix}-align-items-center {
    @include align-items(center);
  }
  &.#{$utilityPrefix}-vhcenter,
  &.#{$utilityPrefix}-align-and-justify-center {
    @include align-items(center);
    @include justify-content(center);
  }
  &.#{$utilityPrefix}-vtop,
  &.#{$utilityPrefix}-justify-content-start {
    @include justify-content(flex-start);
  }
  &.#{$utilityPrefix}-vbottom,
  &.#{$utilityPrefix}-justify-content-end {
    @include justify-content(flex-end);
  }
  &.#{$utilityPrefix}-hfit,
  &.#{$utilityPrefix}-align-items-stretch {
    @include align-items(stretch);
  }
  &.#{$utilityPrefix}-hleft,
  &.#{$utilityPrefix}-align-items-start {
    @include align-items(flex-start);
  }
  &.#{$utilityPrefix}-hright,
  &.#{$utilityPrefix}-align-items-end {
    @include align-items(flex-end);
  }
  &.#{$utilityPrefix}-self-hleft,
  &.#{$utilityPrefix}-align-self-start {
    @include align-self(flex-start);
  }
  &.#{$utilityPrefix}-self-hright,
  &.#{$utilityPrefix}-align-self-end {
    @include align-self(flex-end);
  }
}

.#{$utilityPrefix}-space-between {
  @include justify-content(space-between);
}

.#{$utilityPrefix}-space-around {
  @include justify-content(space-around);
}

$flexGrowShrinkValues: (0, 1, 2, 3, 4);

// Used to grow an item to take up as much
// space as possible in relation to its peers
@mixin generate-grow() {
  @each $value in $flexGrowShrinkValues {
    .#{$utilityPrefix}-grow-#{$value} {
      @include flex-grow(#{$value});
    }
  }
}
@include generate-grow();

@mixin generate-shrink() {
  @each $value in $flexGrowShrinkValues {
    .#{$utilityPrefix}-shrink-#{$value} {
      @include flex-shrink(#{$value});
    }
  }
}
@include generate-shrink();

.#{$utilityPrefix}-flexbox-wrap {
  @include flex-wrap(wrap);
  &-reverse {
    @include flex-wrap(wrap-reverse);
  }
}
